{
    "tabWidth": 4,
    "singleQuote": false,
    "semi": true,
    "overrides": [
        {
            "files": "openapi.yaml",
            "options": {
                "tabWidth": 2,
                "semi": false
            }
        }
    ]
}
